.contacts {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.contactsList {
  width: 100%;
  max-width: 1200px;
  height: auto;
  border: 1px solid #dfe3eb;
  overflow-x: auto;
}

