@use "../../../sass/abstracts/variables" as *;
@use "../../../sass/abstracts/mixins" as m;

.item {
	background: $color-white;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem $card-padding;
	border-radius: $border-radius-3;
	box-shadow: $box-shadow;
	transition: all 300ms ease;

	&:hover {
		box-shadow: none;
	}

	.right {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0;
		width: 100%;
	}

	.icon {
		padding: 0.6rem;
		color: $color-white;
		border-radius: 50%;
		display: flex;
	}

	.bgPrimary {
		background: $color-primary;
	}

	.bgSuccess {
		background: $color-success;
	}

	.bgDanger {
		background: $color-danger;
	}

	.success {
		@include m.success;
	}

	.danger {
		@include m.danger;
	}
}
