@use "../../../sass//abstracts/variables" as *;

.table {
	margin: 2rem auto;
	background: $color-white;
	width: 100%;
	border-radius: $card-border-radius;
	padding: $card-padding;
	text-align: center;
	box-shadow: $box-shadow;
	transition: all 300ms ease;

	&:hover {
		box-shadow: none;
	}

	tbody td {
		height: 2.8rem;
		border-bottom: 1px solid $color-light;
		color: $color-dark-variant;
	}

	tr:last-child td {
		border-bottom: none;
	}
}
